*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
}

h1{
  color: #333;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
} 

.form {
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  margin: 5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #5f99db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add{
  background-color: #5cb85c;
  color: white;
}

.remove{
  background-color: #f0ad4e;
  color: white;
}

.delete{
  background-color:#d9534f;
  color:white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
