body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}
#app {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

#taskForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#taskInput {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
button {
  margin-left: 8px;
}
.done {
  text-decoration: line-through;
  color: gray;
}
.add{
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.toggle{
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.delete{
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#taskList {

  list-style-type: none;
  padding: 0;
}
