

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1{
  color: #007acc;
  text-align: center;
}

.apresentacao {
  font-size: 1.4em;
  color: #555;
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: center;
  background-color: #f0f8ff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

.key{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  color: #333;
}
