*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;    
}

body {
    font-family: Arial, sans-serif;
    background-color: #06213b;
    color: #fafafa;
    padding: 20px;
}

.title-estoque{
    font-family: "alegreya-sans", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3.5rem;
    color: #fafafa;
}

.navbar-collapse{
    justify-content: flex-end;
    align-items: center;
    font-family: "alegreya-sans", sans-serif;
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.5rem;
    color: #fafafa;
    margin-right: 20px;
}

.navbar-brand:hover{
    color: #fafafa;
}


a:active{
    text-decoration: none;
    color: #fafafa;
}

.nav-item{
    margin-right: 15px;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fafafa;
}

.dropdown-item{
    font-weight: 700;
    font-size: 1.1rem;
    color: #06213b;
}

.dropdown-item:hover{
    background-color: #06213b;
    color: #fafafa;
}

.navbar{
    background-color: #06213b;
    color: #fafafa;
}

.bg-body-tertiary{
    border-radius: 5px;
}

.container-fluid{
    background-color: #06213b;
    color: #fafafa;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

.form-control{
    border: none;
    border-radius: 5px;
}

.form-control:focus{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

.btn{
    background-color: #fafafa;
    color: #06213b;
    font-weight: 600;
    border: 1px solid #fafafa;
}

.btn:hover{
    background-color: #06213b;
    color: #fafafa;
    border: 1px solid #fafafa;
}

